bin/
wiki/
javadoc/
dist/
src-delomboked/

#eclipse 
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
